@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .linkbuttonprofile {
    @apply   w-full px-8 py-2 hover:bg-blue-500 hover:text-white active:bg-blue-600 hover:underline text-blue-900 cursor-pointer
   }
   .addressname{
    @apply font-medium inline;
   }
   .addressdetail{
    @apply text-slate-900 font-bold;
   }
  .form-input{
    @apply appearance-none outline-none rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-none
  }
  .basic-button{
    @apply bg-green-100 text-green-600 px-4 py-2 rounded-md font-bold;
  }
  .form-error{
    @apply text-red-900/90  rounded-lg;
  }
}



.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 50px;
  height: 30px;
 

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.v-active{
  border: blue solid 2px;

}
.vertical-swiper1 [class^=swiper-button]{
    transform:rotate(90deg);
    top: initial;
    left: initial;
    right: 2px;
    margin: 0;
    color: #51e2f5;
    background-color: #F0F0F0;
}
.vertical-swiper1 .swiper-slide-thumb-active {
  border: blue solid 3px;
  border-radius: 2px;
}
.horizontal-swiper1 [class^=swiper-button]{
 color: rgb(31, 31, 255);
 box-shadow: #f1f2fb;
}
.vertical-swiper1 .swiper-button-prev{
    top:0;
}
.vertical-swiper1 .swiper-button-next{
    bottom:0;
}
/* Ripple effect */
.ripple {
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 12px 18px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: #2196f3;

  box-shadow: 0 0 4px #999;
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}
.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}


.gradient-text {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


.fade-bottom {
  border: 1px #d8d8d8 dashed;
  font:  Arial;
  position: relative;
}

.fade-bottom:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255, 1) 90%);
  width: 100%;
  height: 4em;
}
/* Initial hidden state */


/* Visible state with animation */
.form-transition {
  display: block;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.stage {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 32px 0;
    margin: 0 -5%;
    overflow: hidden;
  }
.dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  box-shadow: 9999px 0 0 -5px;
  animation: dot-pulse 1.5s infinite linear;
  animation-delay: 0.25s;
}
.dot-pulse::before, .dot-pulse::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
}
.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px;
  animation: dot-pulse-before 1.5s infinite linear;
  animation-delay: 0s;
}
.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px;
  animation: dot-pulse-after 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes dot-pulse-before {
  0% {
    box-shadow: 9984px 0 0 -5px;
  }
  30% {
    box-shadow: 9984px 0 0 2px;
  }
  60%, 100% {
    box-shadow: 9984px 0 0 -5px;
  }
}
@keyframes dot-pulse {
  0% {
    box-shadow: 9999px 0 0 -5px;
  }
  30% {
    box-shadow: 9999px 0 0 2px;
  }
  60%, 100% {
    box-shadow: 9999px 0 0 -5px;
  }
}
@keyframes dot-pulse-after {
  0% {
    box-shadow: 10014px 0 0 -5px;
  }
  30% {
    box-shadow: 10014px 0 0 2px;
  }
  60%, 100% {
    box-shadow: 10014px 0 0 -5px;
  }
}
.content {
    filter: blur(0); /* Initially no blur */
    transition: filter 0.5s;
}

/* Create an overlay to disable interactions */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
    display: none; /* Initially hidden */
}