@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .linkbuttonprofile {
    @apply   w-full px-8 py-2 hover:bg-blue-500 hover:text-white active:bg-blue-600 hover:underline text-blue-900 cursor-pointer
   }
   .addressname{
    @apply font-medium inline;
   }
   .addressdetail{
    @apply text-slate-900 font-bold;
   }
  .form-input{
    @apply appearance-none outline-none rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-none
  }
  .basic-button{
    @apply bg-green-100 text-green-600 px-4 py-2 rounded-md font-bold;
  }
  .form-error{
    @apply text-red-900/90  rounded-lg;
  }
}



.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 50px;
  height: 30px;
 

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.v-active{
  border: blue solid 2px;

}
.vertical-swiper1 [class^=swiper-button]{
    transform:rotate(90deg);
    top: initial;
    left: initial;
    right: 2px;
    margin: 0;
    color: #51e2f5;
    background-color: #F0F0F0;
}
.vertical-swiper1 .swiper-slide-thumb-active {
  border: rgb(239, 149, 76) solid 3px;
  border-radius: 2px;
}

.swiper-button-prev::after{
  color: rgb(209, 110, 29);
  font-size: 60px;
  background: -webkit-linear-gradient(#23b7e8, #6b28f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (min-width: 480px) {
  .swiper-button-prev::after,
  .swiper-button-prev,
  .swiper-button-next::after {
    display: none;
  }
}



/* CSS */
.buynow-button {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 40px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.buynow-button:active,
.buynow-button:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .buynow-button {
    font-size: 24px;
    min-width: 196px;
  }
}
.cart-button {
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 40px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.cart-button:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.cart-button:active {
  transform: scale(0.95);
}

.shadow-on-top{
    -webkit-box-shadow: 0px -4px 3px rgba(230, 230, 230, 0.75);
  -moz-box-shadow: 0px -4px 3px rgba(230, 230, 230, 0.75);
  box-shadow: 0px -4px 3px rgba(230, 230, 230, 0.75);
}

/* Initial hidden state */


/* Visible state with animation */
.form-transition {
  display: block;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.content {
    filter: blur(0); /* Initially no blur */
    transition: filter 0.5s;
}

/* Create an overlay to disable interactions */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.767);
    z-index: 100;
}

.blur-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(252, 251, 251, 0.767); 
    z-index: 200; 
}






